table td {
    width: 100px;
    height: 100px;
}

table td div {
    width: 60px;
    height: 60px;
    margin: 20px;
    font-size: 32pt;
    vertical-align: middle;
    text-align: center;
}

table {
    margin: 10px auto;
}

.thickBottom td {
    border-bottom: 2px solid #000;
}

.thickRight {
    border-right: 2px solid #000;
}

.highlight {
    color: red;
}

#radioButtons {
    font-size: 32pt;
}

#radioButtons input {
    margin-top: 24px;
}
